@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

#background-mobile {
  background-image: url("../assets/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

@media (min-width: 768px) {
  #background-mobile {
    background-image: url("../assets/images/bg-header-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #icon-mobile {
    @apply hidden;
  }

  #icon-desktop {
    @apply block;
  }
}
